.col-1{
    background-color: aquamarine;
    height: 100px;
    width: 200px;
    border-radius: 100%;
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
    box-shadow:10px 10px 5px rgb(35, 35, 35);
}